:root {
    --bg: #ffffff;
    --accent: #0b5cff;
    --text: #111;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, Segoe UI, Arial, sans-serif;
    margin: 0;
    background: var(--bg);
    color: var(--text);
}
main{
    padding: 15px!important;
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 12px 0;
}

.site-nav {
    border-bottom: 1px solid #eee;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 16px;
    gap: 12px;        
}
.publicidad {
    padding: 30px;
    margin-bottom: 24px;
    order: 3;
}

.publicidad img {
    height: 10vh;
    margin: 0 auto;
    height: auto;
}
.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand img {
    height: 40px;
    width: auto;
    display: block;
}

.burguer {
    background: red;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    width: 30px;
    height: 25px;
    background: none;
    border: 0;
    cursor: pointer;
}

.burguer span {
    display: block;
    height: 3px;
    background: #111;
    border-radius: 2px;
}

.nav-links ul {
        display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 18px;
    align-items: start;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: var(--text);
    text-decoration: none;
    padding: 8px 6px;
    border-radius: 4px;
}

.nav-links li a:hover {
    background: #f2f6ff;
    color: var(--accent);
}

.login {
    background: var(--accent);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.nav-toggle  {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
}



    .burguer {
        display: inline-flex;
    }

    .nav-links {
        display: none;
    }
    .nav-toggle:checked ~ .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

@media (min-width: 1025px) {
    main{
    padding: 15px!important;
    display: flex;
    flex-direction: row ;
    justify-content: start;
    align-items: start;
    }

.burguer {
        display: none;
    }
.publicidad {
    width: 20%;
    order :none
}
.first-container{
    width: 50%;
    padding: 12px;
}
.second-container{
    width: 30%;
    padding: 30px;
}
.nav-links{
    display: flex;
    flex-direction: row ;
    gap: 12px;
    height: 100%;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 12px 16px;
    gap: 12px;
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 12px 16px;
    gap: 12px;
}
}